@media (max-width: 1700px) {
    .inicio-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-inicio {
        width: 90%; /* Further reduced width for smaller screens */
    }

    .img-inicio img {
        width: 90%; /* Further reduced image size for smaller screens */
    }

    .inicio-descricao h1 {
        font-size: 50px; /* Adjusted font size for smaller screens */
    }

    .inicio-descricao h2 {
        font-size: 18px; /* Adjusted font size for smaller screens */
    }

    .icon-descricao {
        width: 90%; /* Adjusted width for smaller screens */
    }

    .icon-descricao a {
        font-size: 25px; /* Adjusted icon size for smaller screens */
    }

    .fa-solid {
        font-size: 40px; /* Adjusted font size for smaller screens */
    }
}